# Covid 19 data from Bangladesh retrieved from https://doi.org/10.1016/j.rico.2023.100346

In [1]:
import numpy  as np
import pandas as pd

Data from Table 1, p6 (Jun 1 to Jul 20, 2021):

In [2]:
data = np.array([
    ['01-06-21', 1765, 1779, 41],
    ['02-06-21', 1988, 1914, 34],
    ['03-06-21', 1687, 1970, 30],
    ['04-06-21', 1887, 1723, 34],
    ['05-06-21', 1447, 1667, 43],
    ['06-06-21', 1676, 1897, 38],
    ['07-06-21', 1970, 1918, 30],
    ['08-06-21', 2322, 2062, 44],
    ['09-06-21', 2537, 2267, 36],
    ['10-06-21', 2576, 2061, 40],
    ['11-06-21', 2454, 2286, 43],
    ['12-06-21', 1637, 2108, 39],
    ['13-06-21', 2436, 2242, 47],
    ['14-06-21', 3050, 2564, 54],
    ['15-06-21', 3319, 2243, 50],
    ['16-06-21', 3956, 2679, 60],
    ['17-06-21', 3840, 2714, 63],
    ['18-06-21', 3883, 1955, 54],
    ['19-06-21', 3057, 1725, 67],
    ['20-06-21', 3641, 2509, 82],
    ['21-06-21', 4636, 2827, 78],
    ['22-06-21', 4846, 2903, 76],
    ['23-06-21', 5727, 3168, 85],
    ['24-06-21', 6058, 3230, 81],
    ['25-06-21', 5869, 2776, 108],
    ['26-06-21', 4334, 3295, 77],
    ['27-06-21', 5268, 3295, 119],
    ['28-06-21', 8364, 3570, 104],
    ['29-06-21', 7666, 4027, 112],
    ['30-06-21', 8822, 4550, 115],
    ['01-07-21', 8301, 4663, 143],
    ['02-07-21', 8483, 4509, 132],
    ['03-07-21', 6214, 3777, 134],
    ['04-07-21', 8661, 4698, 153],
    ['05-07-21', 9964, 5185, 164],
    ['06-07-21', 11525, 5433, 163],
    ['07-07-21', 11162, 5987, 201],
    ['08-07-21', 11651, 5844, 199],
    ['09-07-21', 11324, 6038, 212],
    ['10-07-21', 8772, 5755, 185],
    ['11-07-21', 11874, 6362, 230],
    ['12-07-21', 13768, 7020, 220],
    ['13-07-21', 12198, 7646, 203],
    ['14-07-21', 12383, 8245, 210],
    ['15-07-21', 12236, 8536, 226],
    ['16-07-21', 12148, 8536, 187],
    ['17-07-21', 8489, 8820, 204],
    ['18-07-21', 11578, 8845, 225],
    ['19-07-21', 13321, 9335, 231],
    ['20-07-21', 11579, 9997, 200],
])

Processing:

In [4]:
N = 164689383    # p6 [total number of people]

df = pd.DataFrame(data, columns=['Date', 'Infected', 'Recovered', 'Deaths'])
df[df.columns[1:]] = df[df.columns[1:]].astype(int)
df.insert(loc=1, column='Susceptibles', value= N - df[df.columns[1:]].sum(1) )
df.set_index('Date', inplace=True)    # Set the 'Date' column as the index
df.tail()

          Susceptibles  Infected  Recovered  Deaths
Date
16-07-21     164668512     12148       8536     187
17-07-21     164671870      8489       8820     204
18-07-21     164668735     11578       8845     225
19-07-21     164666496     13321       9335     231
20-07-21     164667607     11579       9997     200

Store and test retrieve:

In [5]:
df.to_pickle('BD_2021_Jun_Jul.pkl')

In [7]:
pd.read_pickle('BD_2021_Jun_Jul.pkl').head().values

array([[164685798,      1765,      1779,        41],
       [164685447,      1988,      1914,        34],
       [164685696,      1687,      1970,        30],
       [164685739,      1887,      1723,        34],
       [164686226,      1447,      1667,        43]])

---